In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

# Preliminary analysis
## First dataset: df_duplicated_with_path

This notebook requires first running the script "download_dataset.sh"

In [2]:
with open('dataset/raw/df_duplicated_with_path.pkl', 'rb') as file:
    df1 = pd.compat.pickle_compat.load(file)

If a tweet has multiple associated images, there is an entry in the dataset for each image

In [3]:
df1.shape

(15200, 44)

In [4]:
df1[:3]

,id,tweet,date,cashtags,conversation_id,created_at,day,geo,hashtags,hour,language,link,name,near,nlikes,nreplies,nretweets,photos,place,quote_url,reply_to,retweet,retweet_date,retweet_id,search,source,thumbnail,timezone,trans_dest,trans_src,translate,urls,user_id,user_id_str,user_rt,user_rt_id,username,video,old_label,seeds,path_photos,uni_label,multi_label,pic_count
0,1520190981458604032,Grace received a scholarship as a Shenandoah S...,2022-04-30 01:59:08,[],1520190981458604032,1.651277e+12,6,NaN,[],1,en,https://twitter.com/May50Tim/status/1520190981...,Tim May,NaN,14,1,0,[https://pbs.twimg.com/media/FRjNooIXwAAo6yi.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNooIXwAAo6yi.jpg,200,NaN,NaN,NaN,[],2156717362,2156717362,NaN,NaN,May50Tim,1,"[joy, anticipation, anger, trust]",{'anticipation': {'achievement': 0.695}},../input/img-emo/twint_images3/152019098145860...,anticipation,[anticipation],2
1,1520190981458604032,Grace received a scholarship as a Shenandoah S...,2022-04-30 01:59:08,[],1520190981458604032,1.651277e+12,6,NaN,[],1,en,https://twitter.com/May50Tim/status/1520190981...,Tim May,NaN,14,1,0,[https://pbs.twimg.com/media/FRjNooIXwAAo6yi.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNooIXwAAo6yi.jpg,200,NaN,NaN,NaN,[],2156717362,2156717362,NaN,NaN,May50Tim,1,"[joy, anticipation, anger, trust]",{'anticipation': {'achievement': 0.695}},../input/img-emo/twint_images3/152019098145860...,anticipation,[anticipation],2
2,1520190703879479297,1. This isn't an adult account but sometimes I...,2022-04-30 01:58:02,[],1520190703879479297,1.651277e+12,6,NaN,[],1,en,https://twitter.com/HuskerFox/status/152019070...,Husker Fox (Fully Vaccinated),NaN,5,1,0,[https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg],NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg,200,NaN,NaN,NaN,[],257367666,257367666,NaN,NaN,HuskerFox,1,"[anticipation, surprise, joy, trust, anger, fear]",{'trust': {'respect': 0.75}},../input/img-emo/twint_images3/152019070387947...,trust,[trust],1

In [5]:
df1.columns

Index(['id', 'tweet', 'date', 'cashtags', 'conversation_id', 'created_at',
       'day', 'geo', 'hashtags', 'hour', 'language', 'link', 'name', 'near',
       'nlikes', 'nreplies', 'nretweets', 'photos', 'place', 'quote_url',
       'reply_to', 'retweet', 'retweet_date', 'retweet_id', 'search', 'source',
       'thumbnail', 'timezone', 'trans_dest', 'trans_src', 'translate', 'urls',
       'user_id', 'user_id_str', 'user_rt', 'user_rt_id', 'username', 'video',
       'old_label', 'seeds', 'path_photos', 'uni_label', 'multi_label',
       'pic_count'],
      dtype='object')

## Second dataset: df_no_duplicated_with_path2

In [6]:
with open('dataset/raw/df_no_duplicated_with_path2.pkl', 'rb') as file:
    df2 = pd.compat.pickle_compat.load(file)

Same as dataset 1 but there is a single entry for each tweet, with all image paths

In [7]:
df2.shape

(10987, 43)

In [8]:
df2[:3]

,id,tweet,date,cashtags,conversation_id,created_at,day,geo,hashtags,hour,language,link,name,near,nlikes,nreplies,nretweets,photos,place,quote_url,reply_to,retweet,retweet_date,retweet_id,search,source,thumbnail,timezone,trans_dest,trans_src,translate,urls,user_id,user_id_str,user_rt,user_rt_id,username,video,old_label,seeds,path_photos,uni_label,multi_label
0,1520190981458604032,Grace received a scholarship as a Shenandoah S...,2022-04-30 01:59:08,[],1520190981458604032,1.651277e+12,6,NaN,[],1,en,https://twitter.com/May50Tim/status/1520190981...,Tim May,NaN,14,1,0,[https://pbs.twimg.com/media/FRjNooIXwAAo6yi.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNooIXwAAo6yi.jpg,200,NaN,NaN,NaN,[],2156717362,2156717362,NaN,NaN,May50Tim,1,"[joy, anticipation, anger, trust]",{'anticipation': {'achievement': 0.695}},[../input/img-emo/twint_images3/15201909814586...,anticipation,[anticipation]
1,1520190703879479297,1. This isn't an adult account but sometimes I...,2022-04-30 01:58:02,[],1520190703879479297,1.651277e+12,6,NaN,[],1,en,https://twitter.com/HuskerFox/status/152019070...,Husker Fox (Fully Vaccinated),NaN,5,1,0,[https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg],NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg,200,NaN,NaN,NaN,[],257367666,257367666,NaN,NaN,HuskerFox,1,"[anticipation, surprise, joy, trust, anger, fear]",{'trust': {'respect': 0.75}},[../input/img-emo/twint_images3/15201907038794...,trust,[trust]
2,1520190149589716998,Straight from lacrosse practice and softball g...,2022-04-30 01:55:50,[],1520190149589716998,1.651277e+12,6,NaN,['ctgb'],1,en,https://twitter.com/KelsGilm/status/1520190149...,Kelsey Gilmore,NaN,6,0,0,[https://pbs.twimg.com/media/FRjM4LMWQAA--cS.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjM4LMWQAA--cS.jpg,200,NaN,NaN,NaN,[],870456300647350273,870456300647350273,NaN,NaN,KelsGilm,1,"[joy, trust]","{'joy': {'celebrate': 0.844, 'love': 0.828}, '...",[../input/img-emo/twint_images3/15201901495897...,joy,"[joy, trust]"

In [9]:
df2.columns

Index(['id', 'tweet', 'date', 'cashtags', 'conversation_id', 'created_at',
       'day', 'geo', 'hashtags', 'hour', 'language', 'link', 'name', 'near',
       'nlikes', 'nreplies', 'nretweets', 'photos', 'place', 'quote_url',
       'reply_to', 'retweet', 'retweet_date', 'retweet_id', 'search', 'source',
       'thumbnail', 'timezone', 'trans_dest', 'trans_src', 'translate', 'urls',
       'user_id', 'user_id_str', 'user_rt', 'user_rt_id', 'username', 'video',
       'old_label', 'seeds', 'path_photos', 'uni_label', 'multi_label'],
      dtype='object')

## Third dataset: merged_df_with_gold_freq1

In [10]:
with open('dataset/raw/merged_df_with_gold_freq1.pkl', 'rb') as file:
    df3 = pd.compat.pickle_compat.load(file)

In [11]:
df3.shape

(10987, 65)

Adds gold labels to dataset 2. Columns with name in the form of T_x are the gold labels for text only and contain the score for emotion x. T_gold_multi_label contains a list of emotions for which that entry has a non-zero score. Columns with name M_x are the same, but for the multimodal gold labels. The gold labels are those assigned manually. They are 900 entries of the dataset.

In [12]:
df3[:3]

,id,tweet,date,cashtags,conversation_id,created_at,day,geo,hashtags,hour,language,link,name,near,nlikes,nreplies,nretweets,photos,place,quote_url,reply_to,retweet,retweet_date,retweet_id,search,source,thumbnail,timezone,trans_dest,trans_src,translate,urls,user_id,user_id_str,user_rt,user_rt_id,username,video,old_label,seeds,path_photos,uni_label,multi_label,M_Anger,M_Anticipation,M_Disgust,M_Fear,M_Joy,M_Neutral,M_Sadness,M_Something else,M_Surprise,M_Trust,M_gold_multi_label,T_Anger,T_Anticipation,T_Disgust,T_Fear,T_Joy,T_Neutral,T_Sadness,T_Something else,T_Surprise,T_Trust,T_gold_multi_label
0,1520190981458604032,Grace received a scholarship as a Shenandoah S...,2022-04-30 01:59:08,[],1520190981458604032,1.651277e+12,6,NaN,[],1,en,https://twitter.com/May50Tim/status/1520190981...,Tim May,NaN,14,1,0,[https://pbs.twimg.com/media/FRjNooIXwAAo6yi.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNooIXwAAo6yi.jpg,200,NaN,NaN,NaN,[],2156717362,2156717362,NaN,NaN,May50Tim,1,"[joy, anticipation, anger, trust]",{'anticipation': {'achievement': 0.695}},[../input/img-emo/twint_images3/15201909814586...,anticipation,[anticipation],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1520190703879479297,1. This isn't an adult account but sometimes I...,2022-04-30 01:58:02,[],1520190703879479297,1.651277e+12,6,NaN,[],1,en,https://twitter.com/HuskerFox/status/152019070...,Husker Fox (Fully Vaccinated),NaN,5,1,0,[https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg],NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg,200,NaN,NaN,NaN,[],257367666,257367666,NaN,NaN,HuskerFox,1,"[anticipation, surprise, joy, trust, anger, fear]",{'trust': {'respect': 0.75}},[../input/img-emo/twint_images3/15201907038794...,trust,[trust],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1520190149589716998,Straight from lacrosse practice and softball g...,2022-04-30 01:55:50,[],1520190149589716998,1.651277e+12,6,NaN,['ctgb'],1,en,https://twitter.com/KelsGilm/status/1520190149...,Kelsey Gilmore,NaN,6,0,0,[https://pbs.twimg.com/media/FRjM4LMWQAA--cS.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjM4LMWQAA--cS.jpg,200,NaN,NaN,NaN,[],870456300647350273,870456300647350273,NaN,NaN,KelsGilm,1,"[joy, trust]","{'joy': {'celebrate': 0.844, 'love': 0.828}, '...",[../input/img-emo/twint_images3/15201901495897...,joy,"[joy, trust]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df3[df3["M_gold_multi_label"].notnull()][:4].filter(regex=("M_*"))

,M_Anger,M_Anticipation,M_Disgust,M_Fear,M_Joy,M_Neutral,M_Sadness,M_Something else,M_Surprise,M_Trust,M_gold_multi_label
15,0.0,0.0,0.0,0.0,4.0,1.0,0.0,1.0,0.0,0.0,"[Joy, Neutral, Something else]"
22,0.0,1.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,"[Anticipation, Joy]"
25,0.0,2.0,0.0,0.0,3.0,1.0,0.0,2.0,0.0,0.0,"[Anticipation, Joy, Neutral, Something else]"
27,0.0,0.0,0.0,0.0,4.0,1.0,0.0,1.0,0.0,0.0,"[Joy, Neutral, Something else]"

In [14]:
df3[df3["M_gold_multi_label"].notnull()].shape

(900, 65)

In [15]:
df3.columns

Index(['id', 'tweet', 'date', 'cashtags', 'conversation_id', 'created_at',
       'day', 'geo', 'hashtags', 'hour', 'language', 'link', 'name', 'near',
       'nlikes', 'nreplies', 'nretweets', 'photos', 'place', 'quote_url',
       'reply_to', 'retweet', 'retweet_date', 'retweet_id', 'search', 'source',
       'thumbnail', 'timezone', 'trans_dest', 'trans_src', 'translate', 'urls',
       'user_id', 'user_id_str', 'user_rt', 'user_rt_id', 'username', 'video',
       'old_label', 'seeds', 'path_photos', 'uni_label', 'multi_label',
       'M_Anger', 'M_Anticipation', 'M_Disgust', 'M_Fear', 'M_Joy',
       'M_Neutral', 'M_Sadness', 'M_Something else', 'M_Surprise', 'M_Trust',
       'M_gold_multi_label', 'T_Anger', 'T_Anticipation', 'T_Disgust',
       'T_Fear', 'T_Joy', 'T_Neutral', 'T_Sadness', 'T_Something else',
       'T_Surprise', 'T_Trust', 'T_gold_multi_label'],
      dtype='object')

## Fourth dataset: merged_df_with_gold

In [16]:
with open('dataset/raw/merged_df_with_gold.pkl', 'rb') as file:
    df4 = pd.compat.pickle_compat.load(file)

The format of this dataset is the same as the previous one and only differs in the contents of the gold multi label fields.

In [17]:
df4.shape

(10987, 65)

In [18]:
df4[:3]

,id,tweet,date,cashtags,conversation_id,created_at,day,geo,hashtags,hour,language,link,name,near,nlikes,nreplies,nretweets,photos,place,quote_url,reply_to,retweet,retweet_date,retweet_id,search,source,thumbnail,timezone,trans_dest,trans_src,translate,urls,user_id,user_id_str,user_rt,user_rt_id,username,video,old_label,seeds,path_photos,uni_label,multi_label,M_Anger,M_Anticipation,M_Disgust,M_Fear,M_Joy,M_Neutral,M_Sadness,M_Something else,M_Surprise,M_Trust,M_gold_multi_label,T_Anger,T_Anticipation,T_Disgust,T_Fear,T_Joy,T_Neutral,T_Sadness,T_Something else,T_Surprise,T_Trust,T_gold_multi_label
0,1520190981458604032,Grace received a scholarship as a Shenandoah S...,2022-04-30 01:59:08,[],1520190981458604032,1.651277e+12,6,NaN,[],1,en,https://twitter.com/May50Tim/status/1520190981...,Tim May,NaN,14,1,0,[https://pbs.twimg.com/media/FRjNooIXwAAo6yi.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNooIXwAAo6yi.jpg,200,NaN,NaN,NaN,[],2156717362,2156717362,NaN,NaN,May50Tim,1,"[joy, anticipation, anger, trust]",{'anticipation': {'achievement': 0.695}},[../input/img-emo/twint_images3/15201909814586...,anticipation,[anticipation],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1520190703879479297,1. This isn't an adult account but sometimes I...,2022-04-30 01:58:02,[],1520190703879479297,1.651277e+12,6,NaN,[],1,en,https://twitter.com/HuskerFox/status/152019070...,Husker Fox (Fully Vaccinated),NaN,5,1,0,[https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg],NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjNY2fXoAE95Qh.jpg,200,NaN,NaN,NaN,[],257367666,257367666,NaN,NaN,HuskerFox,1,"[anticipation, surprise, joy, trust, anger, fear]",{'trust': {'respect': 0.75}},[../input/img-emo/twint_images3/15201907038794...,trust,[trust],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1520190149589716998,Straight from lacrosse practice and softball g...,2022-04-30 01:55:50,[],1520190149589716998,1.651277e+12,6,NaN,['ctgb'],1,en,https://twitter.com/KelsGilm/status/1520190149...,Kelsey Gilmore,NaN,6,0,0,[https://pbs.twimg.com/media/FRjM4LMWQAA--cS.j...,NaN,NaN,[],False,NaN,NaN,abacus OR abbot OR absolution OR abundance OR ...,NaN,https://pbs.twimg.com/media/FRjM4LMWQAA--cS.jpg,200,NaN,NaN,NaN,[],870456300647350273,870456300647350273,NaN,NaN,KelsGilm,1,"[joy, trust]","{'joy': {'celebrate': 0.844, 'love': 0.828}, '...",[../input/img-emo/twint_images3/15201901495897...,joy,"[joy, trust]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df4.columns

Index(['id', 'tweet', 'date', 'cashtags', 'conversation_id', 'created_at',
       'day', 'geo', 'hashtags', 'hour', 'language', 'link', 'name', 'near',
       'nlikes', 'nreplies', 'nretweets', 'photos', 'place', 'quote_url',
       'reply_to', 'retweet', 'retweet_date', 'retweet_id', 'search', 'source',
       'thumbnail', 'timezone', 'trans_dest', 'trans_src', 'translate', 'urls',
       'user_id', 'user_id_str', 'user_rt', 'user_rt_id', 'username', 'video',
       'old_label', 'seeds', 'path_photos', 'uni_label', 'multi_label',
       'M_Anger', 'M_Anticipation', 'M_Disgust', 'M_Fear', 'M_Joy',
       'M_Neutral', 'M_Sadness', 'M_Something else', 'M_Surprise', 'M_Trust',
       'M_gold_multi_label', 'T_Anger', 'T_Anticipation', 'T_Disgust',
       'T_Fear', 'T_Joy', 'T_Neutral', 'T_Sadness', 'T_Something else',
       'T_Surprise', 'T_Trust', 'T_gold_multi_label'],
      dtype='object')

This dataset differs to the previous one only in the gold label field. Whereas dataset 3 includes in that field labels with a score different from 0, this one only does if it is higher than 2. NaN values mean that the fields are equal. Around 100 entries (not necessarily the same ones) have the same labels for both multimodal and text only labels.

In [20]:
print(df3.compare(df4).isnull().sum())
df3.compare(df4)

M_gold_multi_label  self     100
                    other    100
T_gold_multi_label  self      98
                    other     98
dtype: int64

                                    M_gold_multi_label  \
                                                  self
15                      [Joy, Neutral, Something else]
22                                 [Anticipation, Joy]
25        [Anticipation, Joy, Neutral, Something else]
27                      [Joy, Neutral, Something else]
32     [Joy, Sadness, Something else, Surprise, Trust]
...                                                ...
10942     [Anticipation, Joy, Neutral, Something else]
10943                                              NaN
10972     [Anticipation, Joy, Sadness, Something else]
10982                         [Joy, Neutral, Surprise]
10986                                              NaN

                                            \
                                     other
15                                   [Joy]
22                                   [Joy]
25     [Anticipation, Joy, Something else]
27                                   [Joy]
32         [Joy, Something else, Surprise]
...                                    ...
10942              [Anticipation, Neutral]
10943                                  NaN
10972            [Sadness, Something else]
10982                      [Joy, Surprise]
10986                                  NaN

                                      T_gold_multi_label  \
                                                    self
15                        [Joy, Neutral, Something else]
22                                                   NaN
25                          [Anticipation, Joy, Neutral]
27                                                   NaN
32                          [Joy, Something else, Trust]
...                                                  ...
10942                [Anticipation, Joy, Neutral, Trust]
10943                            [Anticipation, Neutral]
10972  [Anticipation, Joy, Neutral, Something else, T...
10982                                                NaN
10986                   [Anticipation, Disgust, Neutral]


                         other
15                   [Neutral]
22                         NaN
25              [Anticipation]
27                         NaN
32       [Joy, Something else]
...                        ...
10942                [Neutral]
10943                [Neutral]
10972      [Anticipation, Joy]
10982                      NaN
10986  [Anticipation, Disgust]

[887 rows x 4 columns]

Given all this both the third and fourth datasets are suitable for further analysis but it could also be helpful to merge the two by keeping both columns. The label column names are also renamed for future convenience.

In [21]:
df3["label_M_gold_main"] = df4["M_gold_multi_label"]
df3["label_M_gold_multi"] = df3["M_gold_multi_label"]

df3["label_T_gold_main"] = df4["T_gold_multi_label"]
df3["label_T_gold_multi"] = df3["T_gold_multi_label"]

df3 = df3.drop(columns = ["M_gold_multi_label", "T_gold_multi_label"])

# Cleaning up the dataset
Some of the columns are not useful for the task so they can be dropped. First of all, any field relating to the user who posted the tweet can be dropped. There are also many fields which have a single value across all entries, some of them being simply null.<br>

In [22]:
df3 = df3.drop(columns=["name", "user_id", "user_id_str", "user_rt", "user_rt_id", "username",
                    "video", "translate", "trans_dest", "trans_src", "timezone", "geo", "hour", "day", "near",
                    "created_at", "retweet", "retweet_date", "retweet_id", "reply_to", "source", "place"])

There are some other fields that can be dropped as they are not useful.<br>
<ul>
    <li>"quote_url" contains, if present, the link to the tweet being replied to.</li>
    <li>"urls" contains any links present in the text of the tweet.</li>
    <li>"thumbnail" is the link to the picture used as the thumbnail of the tweet and is a replica of one of the images linked in "photos".</li>
    <li>"photos" can also be dropped as it only contains the links to the images in the tweet, which are already stored locally.</li>
    <li>"link" simply contains the link to the tweet so it can be dropped as well.</li>
    <li>The "cashtags" and "hashtags" fields are redundant as that text is already present in the text of the tweet.</li>
    <li>"date", as the name implies, contains the timestamp of the tweet.</li>
</ul>

In [23]:
df3 = df3.drop(columns=["quote_url", "urls", "thumbnail", "photos", "link", "cashtags", "hashtags", "date"])

"conversation_id" contains some kind of ID which is in some cases different from the ID of the tweet. Nonetheless, it seems to be useless in our case so it can be dropped

In [24]:
print(df3["conversation_id"].compare(df3["id"]))
df3 = df3.drop(columns=["conversation_id"])

                      self         other
1849   1503158267379425291  1.503158e+18
1850   1503155852869472258  1.503156e+18
1851   1503155367924146187  1.503155e+18
1852   1503152699616997383  1.503153e+18
1853   1502947990214004737  1.503152e+18
...                    ...           ...
10982  1534823003170541568  1.534823e+18
10983  1534822866528653313  1.534823e+18
10984  1534822808773177345  1.534823e+18
10985  1534822652887572481  1.534823e+18
10986  1534822621555986434  1.534823e+18

[9138 rows x 2 columns]

"path_photos" contains the local paths to the images, but the file names are simply the ID of the tweet with a number appended to the end, so it is sufficient to store the number of pictures.

In [25]:
print(df3.loc[0, "path_photos"])
print(df3.loc[0, "id"])

['../input/img-emo/twint_images3/1520190981458604032_0.jpg', '../input/img-emo/twint_images3/1520190981458604032_1.jpg']
1520190981458604032

In [26]:
df3["img_count"] = df3["path_photos"].apply(len)
df3 = df3.drop(columns=["path_photos"])

The "language" column is mostly useless, as only 8 rows have a different value from "en". Additionally, only 2 of those with language "fr" are actually in the correct language, the others are stil in English. None of them have gold labels either.

In [27]:
print(df3.loc[df3["language"]!="en", ["tweet", "label_M_gold_multi"]])
df3 = df3.drop(columns = ["language"])

                                                  tweet label_M_gold_multi
2766                 Yay! Excited malala  #MLBBXAndreaB                NaN
3738                                       *cheff kiss*                NaN
4080  Nous tous devant ce massacre de Save Your Tear...                NaN
4644                                  hehehe surprise                 NaN
7066                                          Hell naw                NaN
7607                                  Surprise surprise                NaN
8565                                        Evil bun                 NaN
8627                            On continue le massacre                NaN

By checking for null values "old_label" is missing in the vast majority of the dataset so it would not be particularly useful. It is also unclear what it represents.

In [28]:
print(df3.isnull().sum())
df3 = df3.drop(columns=["old_label"])

id                        0
tweet                     0
nlikes                    0
nreplies                  0
nretweets                 0
search                    0
old_label              9138
seeds                     0
uni_label                 0
multi_label               0
M_Anger               10087
M_Anticipation        10087
M_Disgust             10087
M_Fear                10087
M_Joy                 10087
M_Neutral             10087
M_Sadness             10087
M_Something else      10087
M_Surprise            10087
M_Trust               10087
T_Anger               10087
T_Anticipation        10087
T_Disgust             10087
T_Fear                10087
T_Joy                 10087
T_Neutral             10087
T_Sadness             10087
T_Something else      10087
T_Surprise            10087
T_Trust               10087
label_M_gold_main     10087
label_M_gold_multi    10087
label_T_gold_main     10087
label_T_gold_multi    10087
img_count                 0
dtype: int64

Some of the remaining columns are not directly useful for our task, but might be interesting for some kind of analysis, for example relating emotions with said fields. They are the following:
<ul>
    <li>nlikes</li>
    <li>nreplies</li>
    <li>nretweets</li>
    <li>search</li>
    <li>seeds</li>
</ul>

The following columns are now left:
<ul>
    <li>id: id of the tweet.</li>
    <li>tweet: text of the tweet.</li>
    <li>nlikes: number of likes.</li>
    <li>nreplies: number of replies.</li>
    <li>nretweets: number of retweets.</li>
    <li>search: the search used to retrieve the tweet.</li>
    <li>seeds: the words that retrieved the tweet separated by emotion with a score of how "strongly" it embodies that emotion.</li>
    <li>uni_label: the emotion with the highest score in seeds.</li>
    <li>multi_label: all the emotions in seeds.</li>
    <li>M_x: gold multimodal labels, one for each emotion. Contains the score of for that emotion.</li>
    <li>T_x: gold text-only label, one for each emotion. Contains the score of for that emotion.</li>
    <li>label_M_gold_main: list of emotions with a multimodal score of at least 2.</li>
    <li>label_M_gold_multi: list of emotions with a multimodal score of at least 1.</li>
    <li>label_T_gold_main: list of emotions with a text only score of at least 2.</li>
    <li>label_T_gold_multi: list of emotions with a text only score of at least 1.</li>
    <li>img_count: number of images of the tweet.</li>
</ul>

## Gold and silver label split

Now that the dataset is cleaned up it is useful to separate data with gold labels and data with only silver labels.

In [29]:
gold_df = df3[df3["M_Anger"].notnull()].copy().reset_index(drop=True)
print(gold_df.shape)

(900, 34)

For the gold dataset it might also be useful to modify the scores for the gold labels so that they sum to 1 over a single row, both for multimodal and text only labels. (Implemented but not actually used currently)

In [30]:
# currently not enabled, introduces NaN values


# cols = gold_df.columns[gold_df.columns.str.startswith("M_")]
# gold_df[cols] = gold_df[cols].div(gold_df[cols].sum(axis=1), axis=0)

# cols = gold_df.columns[gold_df.columns.str.startswith("T_")]
# gold_df[cols] = gold_df[cols].div(gold_df[cols].sum(axis=1), axis=0)

Converting gold labels to lowercase for consistency with silver labels.

In [31]:
cols = gold_df.columns[gold_df.columns.str.startswith("label_")]
for column in cols:
    gold_df[column] = gold_df[column].apply(lambda x : [y.lower() for y in x])

In [32]:
gold_df[:3]

,id,tweet,nlikes,nreplies,nretweets,search,seeds,uni_label,multi_label,M_Anger,M_Anticipation,M_Disgust,M_Fear,M_Joy,M_Neutral,M_Sadness,M_Something else,M_Surprise,M_Trust,T_Anger,T_Anticipation,T_Disgust,T_Fear,T_Joy,T_Neutral,T_Sadness,T_Something else,T_Surprise,T_Trust,label_M_gold_main,label_M_gold_multi,label_T_gold_main,label_T_gold_multi,img_count
0,1520189409068519426,20th Academy Awards / 1948. The Glamorous Winn...,11,0,0,advise OR advised OR adviser OR advocacy OR ad...,"{'surprise': {'miracle': 0.859}, 'trust': {'ag...",surprise,"[surprise, trust]",0.0,0.0,0.0,0.0,4.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,1.0,0.0,0.0,[joy],"[joy, neutral, something else]",[neutral],"[joy, neutral, something else]",1
1,1520187577587965956,Congratulations to Mason Turner who has commit...,19,1,0,advise OR advised OR adviser OR advocacy OR ad...,{'trust': {'committed': 0.805}},trust,[trust],0.0,1.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,[joy],"[anticipation, joy]",[joy],[joy],1
2,1520191117735604224,Spider Demon Adoptable Batch ~Expand for i...,39,5,8,alive OR allegiance OR alliance OR allied OR a...,{'fear': {'demon': 0.906}},fear,[fear],0.0,2.0,0.0,0.0,3.0,1.0,0.0,2.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,"[anticipation, joy, something else]","[anticipation, joy, neutral, something else]",[anticipation],"[anticipation, joy, neutral]",1

Extract images in the gold label dataset from the zip file containing all images.

In [33]:
from zipfile import ZipFile
import os
from pathlib import Path

gold_dir = "dataset/gold_images"

with ZipFile("dataset/raw/images.zip") as zfile:
    for i, row in gold_df.iterrows():
        for n in range(0, row["img_count"]):
            file_name = f"{row['id']}_{n}.jpg"
            if not os.path.isfile(f"{gold_dir}/twint_images3/{file_name}"):
                zfile.extract(f"twint_images3/{file_name}", gold_dir)

In [34]:
silver_df = df3[df3["M_Anger"].isnull()].reset_index(drop=True)
print(silver_df.shape)
silver_df[:3]

(10087, 34)

,id,tweet,nlikes,nreplies,nretweets,search,seeds,uni_label,multi_label,M_Anger,M_Anticipation,M_Disgust,M_Fear,M_Joy,M_Neutral,M_Sadness,M_Something else,M_Surprise,M_Trust,T_Anger,T_Anticipation,T_Disgust,T_Fear,T_Joy,T_Neutral,T_Sadness,T_Something else,T_Surprise,T_Trust,label_M_gold_main,label_M_gold_multi,label_T_gold_main,label_T_gold_multi,img_count
0,1520190981458604032,Grace received a scholarship as a Shenandoah S...,14,1,0,abacus OR abbot OR absolution OR abundance OR ...,{'anticipation': {'achievement': 0.695}},anticipation,[anticipation],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,1520190703879479297,1. This isn't an adult account but sometimes I...,5,1,0,abacus OR abbot OR absolution OR abundance OR ...,{'trust': {'respect': 0.75}},trust,[trust],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1520190149589716998,Straight from lacrosse practice and softball g...,6,0,0,abacus OR abbot OR absolution OR abundance OR ...,"{'joy': {'celebrate': 0.844, 'love': 0.828}, '...",joy,"[joy, trust]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

Extract images in the silver label dataset from the zip file containing all images.

In [35]:
from zipfile import ZipFile
import os
from pathlib import Path

silver_dir = "dataset/silver_images"

with ZipFile("dataset/raw/images.zip") as zfile:
    for i, row in silver_df.iterrows():
        for n in range(0, row["img_count"]):
            file_name = f"{row['id']}_{n}.jpg"
            if not os.path.isfile(f"{silver_dir}/twint_images3/{file_name}"):
                zfile.extract(f"twint_images3/{file_name}", silver_dir)

We can now save the datasets to file.

In [36]:
gold_df.to_pickle("dataset/gold_label_dataset.pkl")
silver_df.to_pickle("dataset/silver_label_dataset.pkl")